.media-gal .item{
	position: relative;
}
.media-gal .item .del-img{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0px;
	z-index: 2;
	display: none;
	cursor: pointer;
	top:0px;
}
.media-gal .item:hover .del-img{
	display: inline-block;
	opacity: 1;
}
